.main-container {
    height: calc(100vh - 80px);
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100% - 52px);
}

.card-item-container {
    margin: 10px;
    width: 280px;
}

.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}