.searchbar-main-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 20px;
}

.banner-main-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    padding-right: 20px;
    align-items: center;
}

.banner-text {
    margin: 0;
    padding-right: 30px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.main-logo {
    height: 30px;
}